@import url("https://fonts.googleapis.com/css2?family=Mochiy+Pop+One&family=Noto+Sans:wght@400;600;700&display=swap");

* {
  font-family: "Mochiy Pop One", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #fff;
  color: #0d0f26;
}
.container {
  max-width: 960px;
  margin: auto;
  width: 100%;
  padding: 0 50px 50px;
}
nav {
  background-color: #fff;
  padding: 20px;
}

h2 {
  font-family: "Mochiy Pop One", sans-serif;
  font-size: 2rem;
  font-weight: 600;
  letter-spacing: 2.5px;
}

.hero-headline {
  font-weight: bold;
  font-size: 1.5rem;
}
p {
  display: flex;
  justify-content: center;
  margin-bottom: 1rem;
}
form {
  max-width: 600px;
  margin: auto;
  width: 100%;
  display: grid;
  row-gap: 0.5rem;
  justify-content: center;
}
input::placeholder {
  font-weight: 500;
  font-size: 1.1rem;
}
input {
  color: #0d0f26;
  border: none;
  outline: none;
  background: none;
  font-weight: 400;
  line-height: 1.5;
  font-size: 1.37rem;
  width: 100%;
}
.inputWrapper {
  display: flex;
  align-items: center;
  margin: auto;
}
.inputWrapper {
  font-size: 1rem;
  width: 300px;
  padding: 15px;
  border: 2px solid #0d0f26;
  border-radius: 0.4rem;
  height: 50px;
}

.logo {
  width: 35px;
  padding: 2px;
}
img {
  max-width: 100%;
  margin-top: 0;
}
.noloveLogo {
  display: none;
}
.hero-img {
  margin: 0 auto;
  max-width: 450px;
}
.hero-section {
  padding: 0 10%;
  text-align: center;
}
