@import url("https://fonts.googleapis.com/css2?family=Mochiy+Pop+One&family=Noto+Sans:wght@400;600;700&display=swap");

* {
  font-family: "Noto Sans", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  max-width: 960px;
  margin: auto;
  width: 100%;
}

form {
  max-width: 350px;
  margin: auto;
  width: 100%;
  display: grid;
  row-gap: 1rem;
}

nav {
  display: flex;
  padding: 20px 0;
}

h2 {
  font-family: "Mochiy Pop One", sans-serif;
  font-size: 2rem;
  font-weight: 600;
  letter-spacing: 2.5px;
}
